*Requirements_Design.docx
*makefile
*.tmp
.streamlit/
*.toml
*.zip
*dg.css
*.env
ignore/
# Ignore temp files
*temp_audio1.wav
*temp_audio.mp3
*download.png
*download.jpg
*download.jpeg
*download.ico
sample/
.hf_cache/
.cache/
# Ignore virtual environments
venv/
# Ignore Python cache
__pycache__/
# Ignore IDE settings
.vscode/
# Ignore OS files
.DS_Store
# Ignore compiled files
*.pyc
*.pyo
*.pyd
secrets.toml