psycopg2-binary
pandas
numpy
requests
python-dotenv
sqlalchemy
jinja2
rich
transformers
together
streamlit-audiorec
pydub
pinecone-client
langchain
torch
torch --index-url https://download.pytorch.org/whl/cpu
accelerate
safetensors
sentence-transformers
scikit-learn
opencv-python-headless
speechrecognition
textblob
pillow
nltk
matplotlib
seaborn
imageio-ffmpeg
werkzeug
flask